<!DOCTYPE html>

<html>
	<head>
		<title>Duct Sizer!</title>
		
		<link rel="stylesheet" type="text/css" href="/stylesheets/skeleton.css"/>
		<link rel="stylesheet" type="text/css" href="/stylesheets/base.css"/>
		<link rel="stylesheet" type="text/css" href="/stylesheets/layout.css"/>
		<script type="text/javascript" src="/javascript/jquery.js"></script>
		<script type="text/javascript" src="/javascript/list.js"></script>
		<script type="text/javascript" src="/javascript/jquery.validate.js"></script>
		<script type="text/javascript" src="/javascript/additional-methods.js"></script>
		<script type='text/javascript' src='/javascript/script.js'></script>
	</head>
	
	<body class="container">
		<h1 style="background-color: #ddd; color: #888; margin: 0; height: 50px;text-align:center">Duct Sizer</h1>
		
		{% block content %}
		{% endblock %}
	</body>
</html>
